{% import '@SyliusUi/Macro/headers.html.twig' as headers %}
{% import '@SyliusAdmin/Macro/breadcrumb.html.twig' as breadcrumb %}

<div class="ui stackable two column grid">
    <div class="column">
        {{ headers.default(header|trans, 'list alternate', 'monsieurbiz.sales_reports.ui.subtitle'|trans) }}
        {% set breadcrumbs = [
            { label: 'sylius.ui.administration'|trans, url: path('sylius_admin_dashboard') },
            { label: header|trans },
        ]
        %}
        {{ breadcrumb.crumble(breadcrumbs) }}
    </div>
</div>
