<div class="ui hidden divider"></div>

<div class="ui segment">
    {% if from != to %}
        <h2>{{ 'monsieur_biz_sales_reports.ui.period_report_for'|trans({'%from%': from|date("d/m/Y"), '%to%': to|date("d/m/Y"), '%channel%': channel.name}) }}</h2>
    {% else %}
        <h2>{{ 'monsieur_biz_sales_reports.ui.day_report_for'|trans({'%date%': from|date("d/m/Y"), '%channel%': channel.name}) }}</h2>
    {% endif %}
    <div class="ui basic segment">
        {% include('@MonsieurBizSyliusSalesReportsPlugin/Admin/Report/_global.html.twig') %}
        <div class="ui hidden divider"></div>
        {% include('@MonsieurBizSyliusSalesReportsPlugin/Admin/Report/_average.html.twig') %}
        <div class="ui hidden divider"></div>
        {% include('@MonsieurBizSyliusSalesReportsPlugin/Admin/Report/_product.html.twig') %}
        <div class="ui hidden divider"></div>
        {% include('@MonsieurBizSyliusSalesReportsPlugin/Admin/Report/_productVariant.html.twig') %}
        <div class="ui hidden divider"></div>
        {% include('@MonsieurBizSyliusSalesReportsPlugin/Admin/Report/_option.html.twig') %}
        <div class="ui hidden divider"></div>
        {% include('@MonsieurBizSyliusSalesReportsPlugin/Admin/Report/_optionValue.html.twig') %}
    </div>
</div>
