<div class="ui hidden divider"></div>

<div class="ui segment">
    <h2>{{ 'monsieur_biz_sales_reports.ui.day_report_for'|trans({'%date%': date|date("d/m/Y"), '%channel%': channel.name}) }}</h2>
    {{ form_row(form.date) }}
    <div class="ui basic segment">

    </div>
</div>
